<%= form_tag comments_path, method: :post, remote: true do %>
  <div class="col-md-12">
  	<div class="col-md-8">
      <%= text_area_tag :content, nil, :rows => 3, :cols => 7, id: "comment_content" %>
      <%= hidden_field_tag :id, @products.id %> 
    </div>
    <div class="col-md-4">
   </div>
   </div>
   <div class="col-md-12">
  	<div class="col-md-2">
    	<%= submit_tag "comment", class: "btn btn-info" %>
    </div>
    <div class="col-md-10">
    </div>
  </div>
<% end %>